<?xml version="1.0" encoding="UTF-8"?>
<!--TODO figure out some sort of configuration, for now Spring defaults applied-->
<configuration>
<!--    <variable name="FILE_LOG_PATTERN" value="%date [%thread] %-5level %logger{35} [%X{correlationId}] - %msg%n"/>-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    
    <!-- Set up profiles -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
    
    <springProfile name="!dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{correlationId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
